.array{
	background:transparent; 
	text-align:center; 
	color:#FFF;
}
.array::-webkit-input-placeholder { /* WebKit browsers */
    color:    #999;
}
.array:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #999;
}
.array::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #999;
}
.array:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #999;
}

/* Hover on Logo Effect */

.logo-container-35px {
	height: 35px;
	width: 100%;
	text-align: center;
	overflow: hidden;
}

.logo-container-35px img {
	position: relative;
	text-align: center;
	top: 0px;
	/*transition*/
	-webkit-transition:top .2s ease-in-out;
	-moz-transition:top .2s ease-in-out;
	-o-transition:top .2s ease-in-out;
	transition:top .2s ease-in-out;
}
.logo-container-35px img:hover {
    top: -35px;
}


.darktxt {
	color: #000;
}
.litetxt {
	color: #FFF !important;
}
.liteRedField {
	background: #FFCDCD;
}
.liteGreenField {
	background: #C4E7FF;
}
.liteBlueField {
	background: #B6E7D6;
}

.Img-Make-Responsive {
	max-width: 100%;
	height: auto;
}

.styled div {
	display: inline-block;
	margin-left: 10px;
	font-size: 30px;
	font-weight: 100;
	line-height: 1;
	text-align: right;
}
/* IE7 inline-block hack */
*+html .styled div{
	display: inline;
	zoom: 1;
}
.styled div:first-child {
	margin-left: 0;
}
.styled div span {
	display: block;
	border-top: 1px solid;
	padding-top: 3px;
	font-size: 12px;
	font-weight: normal;
	text-transform: uppercase;
	text-align: left;
}

.go-transparent {
	background:transparent; 
	color:#FFF; 
	width:100%; 
	max-width:100%;
	overflow: auto;
}
.go-left {
	text-align:left;
}
.go-right {
	text-align:right;
}
.go-center {
	text-align:center;
}

.widget-transparent {
	background: #3C763D rgb(60,118,60);
	background: rgba(60,118,180,0.9);
	color: #FFF;
}

.position-hack {
	position: relative;
	border-radius: 5px;
	z-index: 10;
}

.Footer-Hack {
	position: fixed;
	bottom: 0;
	right: 0;
	width: 100%;
	height: 10px;
}

.alert-danger > p > a {
	color: #6C0300 !important;
}

.fix-height-header-hack {
	height: 60px !important;
}

.fix-position-header-hack {
	top: 60px !important;
}

.Field-Override-Hack {
	padding: 5px;
}

.Field-Margin-Override {
	margin: 0;
}

.Input-Field-Override-Hack {
	background: transparent !important;
	border: 0;
}

.No-Margin-Padding-Override-Hack{
	margin: 0;
	padding: 0;
}

.Login-Message-Persistant {
	margin-top: 30px;
	margin-bottom: 20px;
}

.set-font-Open-Sans {
	font-family: 'Kite One',Helvetica,Arial,sans-serif;
}


/* Profile Page Assets Begin Here. */

/* Background Bases */
.UserProfileBackgroundEdit {
	position: absolute;
	width: 100%;
	height: 100%;
	border-radius: 5px;
	z-index: -1;
}

.ColorUndefined {
	background: #36393F;
}

.ColorLoading {
	background: #0D0F3F;
}

.ColorStudent {
	background: #0A2E46;
}

.ColorFaculty {
	background: #053F30;
}

.ColorStaff {
	background: #1F0146;
}

.ColorAdmin {
	background: #0D0F15;
}


/* END Background Bases */
/* END Profile Page Assets */


@font-face {
  font-family: 'Kite One';
  font-style: normal;
  font-weight: 400;
  src: local('Kite One'), local('KiteOne-Regular'), url(../fonts/KiteOne.woff) format('woff');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(../fonts/LatoReg.woff) format('woff');
}
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 400;
  src: local('Lato Italic'), local('Lato-Italic'), url(../fonts/LatoItalic.woff) format('woff');
}
@font-face {
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Josefin Sans'), local('JosefinSans'), url(../fonts/JosefinSansReg.woff) format('woff');
}
@font-face {
  font-family: 'Josefin Sans';
  font-style: italic;
  font-weight: 400;
  src: local('Josefin Sans Italic'), local('JosefinSans-Italic'), url(../fonts/JosefinSansItalic.woff) format('woff');
}

.tm-tag {
	color: #555555;
	background-color: #f5f5f5;
	border: #bbbbbb 1px solid;
	display: inline-block;
	border-radius: 2px;
	margin: 0 5px 5px 0;
	padding: 4px;
	text-decoration: none;
	vertical-align: middle;
}
.tm-tag .tm-tag-remove {
	color: #ffffff;
	font-weight: bold;
	margin-left: 4px;
	opacity: 0.8;
}
.tm-tag .tm-tag-remove:hover {
	color: #ffffff;
	text-decoration: none;
	opacity: 1;
}
.tm-tag.tm-tag-success {
	color: #ffffff;
	background-color: #3DCFAA;
	border-color: transparent;
}
.table-responsive {
	position: relative;
}
.AJAXLoader {
	position: absolute;
	width: 100%;
	height: 100%;
	min-height: 200px;
	top: 0;
	left: 0;
	background: #f2f4f8;
	padding: 50px 10% 50px 10%;
	opacity: 0.6;
	text-align: center;
	display: none;
	z-index: 22;
}
.AJAXLoadError {
	position: absolute;
	width: 100%;
	height: 100%;
	min-height: 200px;
	top: 0;
	left: 0;
	background: #f2f4f8;
	padding: 20px 10% 50px 10%;
	opacity: 1;
	text-align: center;
	display: none;
	z-index: 22;
}
.Blur {
	-webkit-filter: blur(3px); 
	-moz-filter: blur(3px);
	-o-filter: blur(3px); 
	-ms-filter: blur(3px);
}
/* columns of same height styles */
.container-xs-height {
    display:table;
    padding-left:0px;
    padding-right:0px;
}
.row-xs-height {
    display:table-row;
}
.col-xs-height {
    display:table-cell;
    float:none;
}
@media (min-width: 768px) {
    .container-sm-height {
        display:table;
        padding-left:0px;
        padding-right:0px;
    }
    .row-sm-height {
        display:table-row;
    }
    .col-sm-height {
        display:table-cell;
        float:none;
    }
}
@media (min-width: 992px) {
    .container-md-height {
        display:table;
        padding-left:0px;
        padding-right:0px;
    }
    .row-md-height {
        display:table-row;
    }
    .col-md-height {
        display:table-cell;
        float:none;
    }
}
@media (min-width: 1200px) {
    .container-lg-height {
        display:table;
        padding-left:0px;
        padding-right:0px;
    }
    .row-lg-height {
        display:table-row;
    }
    .col-lg-height {
        display:table-cell;
        float:none;
    }
}

@media (max-width: 768px) {
	.fill-xs {
		height: 100%;
	}
}

.fill {
	height: 100%;
}

.col-top {
    vertical-align:top;
}
.col-middle {
    vertical-align:middle;
}
.col-bottom {
    vertical-align:bottom;
}


@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 300;
  src: local('Source Sans Pro Light'), local('SourceSansPro-Light'), url(../fonts/SourceSans300.woff2) format('woff2'), url(../fonts/SourceSans300.woff) format('woff');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: local('Source Sans Pro'), local('SourceSansPro-Regular'), url(../fonts/SourceSans400.woff2) format('woff2'), url(../fonts/SourceSans400.woff) format('woff');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 600;
  src: local('Source Sans Pro Semibold'), local('SourceSansPro-Semibold'), url(../fonts/SourceSans600.woff2) format('woff2'), url(../fonts/SourceSans600.woff) format('woff');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 700;
  src: local('Source Sans Pro Bold'), local('SourceSansPro-Bold'), url(../fonts/SourceSans700.woff2) format('woff2'), url(../fonts/SourceSans700.woff) format('woff');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: italic;
  font-weight: 300;
  src: local('Source Sans Pro Light Italic'), local('SourceSansPro-LightIt'), url(../fonts/SourceSans300i.woff2) format('woff2'), url(../fonts/SourceSans300i.woff) format('woff');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: italic;
  font-weight: 400;
  src: local('Source Sans Pro Italic'), local('SourceSansPro-It'), url(../fonts/SourceSans400i.woff2) format('woff2'), url(../fonts/SourceSans400i.woff) format('woff');
}

.card {
	min-width: 240px;
	min-height: 300px;
	background: #FFF;
	border: 1px solid #555;
	border-radius: 5px;
	font-family: 'Source Sans Pro';
	color: #000;
	padding: 5px 10px 5px 10px;
	position: relative;
	-moz-box-shadow: 1px 0px 10px #CCC, inset 0 0 6px #CCC;
	-webkit-box-shadow: 1px 0px 10px #CCC, inset 0 0 6px #CCC;
	box-shadow: 1px 0px 10px #CCC, inset 0 0 6px #CCC;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
	cursor: default;
}
.card h1, .card h2, .card h3, .card h4, .card h5 {
	margin: 5px 0 0 0;
	line-height: 1;
}
.card h1 {
	font-weight: 600;
	font-size: 2.5em;
}
.card h4 {
	font-weight: 400;
}
.card h2 {
	font-variasnt: small-caps;
	font-size: 2em;
	font-weight: 300;
}
.card h3 {
	font-variant: small-caps;
	font-size: 1.5em;	
}
.card .badge {
	position: absolute;
	right: 9px;
	top: -9px;
}
.card .m-b {
	margin-bottom: 5px;
}
.card br {
	margin: 15px 0 15px 0;
}

.broadcast-container {
	border: 0;
	background: transparent;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.broadcast-clear {
	border: none;
	background: transparent;
}

.broadcast-post {
	bordser: 1px solid #eaeef1;
	baackground: #FFFFFF;
	position: relative;
	display: block;
	padding: 0px 0 10px 0px;
	z-index: 10;
	margin-bottom: -1px;
}

#broadcast-post-area {
	resize: vertical;
	margin: 0;
	height: 50px;
	width: 100%;
	opacity: 0.5;
	height: auto;
	-webkit-transition: min-height .215s linear, opacity .5s linear;
}

#broadcast-post-area.active {
	opacity: 1;
	min-height: 100px;
}

.broadcast-card {
	border: 1px solid #eaeef1;
	background: #FFFFFF;
	position: relative;
	display: block;
	padding: 10px;
	z-index: 10;
	margin-bottom: -1px;
	margin: 10px 0;
	-webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
	box-shadow: 0 1px 1px rgba(0,0,0,.05);
	-webkit-transition: border-color .081s linear;
}
.broadcast-card:hover, .broadcast-card:focus {
	cursor: pointer;
	border-color: #97BFCF;
	background: #FFFFFF;
	z-index: 111;
}

.broadcast-card.broadcast-default {
	background: #FFFFFF;
}
.broadcast-card.broadcast-blue {
	background: #D8ECEA;
}
.broadcast-card.broadcast-red {
	background: #FFB6B6;
}
.broadcast-card.broadcast-green {
	background: #B1E1CF;
}
.broadcast-card.broadcast-yellow {
	background: #FFFCB6;
}

.broadcast-card .right {
    position: absolute;
    right: 0px;
    top: 0px;
}

.broadcast-card>.card-dropdown>.angle-btn {
    background: transparent;
    border: none;
    color: #a1a8ac;
    font-size: 1.8em;
    padding: 0 10px;
    transition: transform .2s;
}

.broadcast-card>.card-dropdown>.angle-btn:focus,
.broadcast-card>.card-dropdown>.angle-btn:hover {
    color: #444444;
    border: none;
    outline: none;
}

.broadcast-card>.card-dropdown>.angle-btn:focus{
    transform: rotate(180deg);
}

.broadcast-card>.card-dropdown .dropdown-menu,
.card-dropdown .dropdown-menu:hover {
    right: -1px;
    left: auto;
    padding: 5px;
    top: 25px;
    z-index: 1000;
}

.broadcast-card>.card-dropdown.open>.dropdown-menu {
    display: flex;
}

.broadcast-card>.card-dropdown .dropdown-menu li>a {
    padding: 10px;
    font-size: 1em;
    transition: color 0.2s;
}

.broadcast-card>.card-dropdown .dropdown-menu li>a:hover,
.broadcast-card>.card-dropdown .dropdown-menu li>a:focus {
    background-color: transparent !important;
    background: transparent !important;
    color: #1aae88;
}

.broadcast-card .broadcast-card-overlay {
    position: absolute;
    left: 0;
    top: 0;
    background: #D0021B;
    background: rgba(208, 2, 27, 0.5);
    width: 100%;
    height: 100%;
    display: none;
}

.broadcast-card .broadcast-card-overlay .data {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #FFF;
    font-size: 1.2em;
    font-weight: 900;
}

.broadcast-card-data {
    color: #000000;
    font-size: 1em;
}

.broadcast-card-data img {
    max-width: 100%;
}

.broadcast-card-data h1,
.broadcast-card-data h2,
.broadcast-card-data h3,
.broadcast-card-data h4,
.broadcast-card-data h5,
.broadcast-card-data h6,
.broadcast-card-data p {
    margin: 0 0 5px 0;
}

.broadcast-card-data h1 {
    font-size: 2em;
}
.broadcast-card-data h2 {
    font-size: 1.9em;
}
.broadcast-card-data h3 {
    font-size: 1.8em;
}
.broadcast-card-data h4 {
    font-size: 1.7em;
}
.broadcast-card-data h5 {
    font-size: 1.6em;
}
.broadcast-card-data h6 {
    font-size: 1.5em;
}
.broadcast-card-data p {
    font-size: 1em;
}

.broadcast-card-data pre,
.broadcast-card-data code {
    font-size: 1em;
    background: transparent;
    border: none;
}