.array{
	background:transparent; 
	text-align:center; 
	color:#FFF;
}
.array::-webkit-input-placeholder { /* WebKit browsers */
    color:    #999;
}
.array:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #999;
}
.array::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #999;
}
.array:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #999;
}


.darktxt {
	color: #000;
}
.litetxt {
	color: #FFF !important;
}
.liteRedField {
	background: #FFCDCD;
}
.liteGreenField {
	background: #C4E7FF;
}
.liteBlueField {
	background: #B6E7D6;
}

.Img-Make-Responsive {
	max-width: 100%;
	height: auto;
}

.styled div {
	display: inline-block;
	margin-left: 10px;
	font-size: 30px;
	font-weight: 100;
	line-height: 1;
	text-align: right;
}
/* IE7 inline-block hack */
*+html .styled div{
	display: inline;
	zoom: 1;
}
.styled div:first-child {
	margin-left: 0;
}
.styled div span {
	display: block;
	border-top: 1px solid;
	padding-top: 3px;
	font-size: 12px;
	font-weight: normal;
	text-transform: uppercase;
	text-align: left;
}

.go-transparent {
	background:transparent; 
	color:#FFF; 
	width:100%; 
	max-width:100%;
	overflow: auto;
}
.go-left {
	text-align:left;
}
.go-right {
	text-align:right;
}
.go-center {
	text-align:center;
}

.widget-transparent {
	background: #3C763D rgb(60,118,60);
	background: rgba(60,118,180,0.9);
	color: #FFF;
}

.position-hack {
	position: relative;
	border-radius: 5px;
	z-index: 10;
}

.Footer-Hack {
	position: fixed;
	bottom: 0;
	right: 0;
	width: 100%;
	height: 10px;
}

.alert-danger > p > a {
	color: #6C0300 !important;
}

.fix-height-header-hack {
	height: 60px !important;
}

.fix-position-header-hack {
	top: 60px !important;
}

.Field-Override-Hack {
	padding: 5px;
}

.Field-Margin-Override {
	margin: 0;
}

.Input-Field-Override-Hack {
	background: transparent !important;
	border: 0;
}

.No-Margin-Padding-Override-Hack{
	margin: 0;
	padding: 0;
}

.Login-Message-Persistant {
	margin-top: 30px;
	margin-bottom: 20px;
}

.set-font-Open-Sans {
	font-family: 'Kite One',Helvetica,Arial,sans-serif;
}


/* Profile Page Assets Begin Here. */

/* Background Bases */
.UserProfileBackgroundEdit {
	position: absolute;
	width: 100%;
	height: 100%;
	border-radius: 5px;
	z-index: -1;
}

.ColorUndefined {
	background: #36393F;
}

.ColorLoading {
	background: #0D0F3F;
}

.ColorStudent {
	background: #0A2E46;
}

.ColorFaculty {
	background: #053F30;
}

.ColorStaff {
	background: #1F0146;
}

.ColorAdmin {
	background: #0D0F15;
}


/* END Background Bases */
/* END Profile Page Assets */


@font-face {
  font-family: 'Kite One';
  font-style: normal;
  font-weight: 400;
  src: local('Kite One'), local('KiteOne-Regular'), url(../fonts/KiteOne.woff) format('woff');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(../fonts/LatoReg.woff) format('woff');
}
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 400;
  src: local('Lato Italic'), local('Lato-Italic'), url(../fonts/LatoItalic.woff) format('woff');
}
@font-face {
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Josefin Sans'), local('JosefinSans'), url(../fonts/JosefinSansReg.woff) format('woff');
}
@font-face {
  font-family: 'Josefin Sans';
  font-style: italic;
  font-weight: 400;
  src: local('Josefin Sans Italic'), local('JosefinSans-Italic'), url(../fonts/JosefinSansItalic.woff) format('woff');
}